#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo.northcoders.landing:hover {
  filter: drop-shadow(0 0 2em #fb6161aa);
}

.users {
  padding: 2em;
  margin: 0 auto;
}

.more-information {
  color: #888;
}

.users-list {
  display: flex;
  margin-left: -40px;
}

.user {
  list-style: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 130px;
  margin: 10px;
  display: inline-block;
}

.user:hover {
  border-color: #eb1c24;
  filter: drop-shadow(0 0 2em #fb6161aa);
}

.user:focus,
.user:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.username {
  color: #eb1c24;
  padding: 10px;
  margin: 0 0 5px 0;
}

.username:hover {
  color: #e5494e;
}

.avatar {
  height: 80px;
  width: auto;
  border-radius: 10px;
  background-color: white;
  border: solid 2px #eb1c24;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #eb1c24;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.article-card {
  display: flex;
  border: solid 2px black;
  border-radius: 10px;
  height: 150px;
  width: 350px;
  background-color: #1a1a1a;
}

.article-card-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 198px;
  align-items: center;
}

.article-card p {
  margin: 0;
}

.article-card .title {
  justify-self: center;
  font-weight: bold;
  grid-column: 1 / -1;
}

.article-card .topic {
  grid-column: 1 / -1;
}

.article-card .image {
  width: 150px;
  height: auto;
  border-radius: 10px 0 0 10px;
  border-right: solid 2px black;
}

.article-card .author {
  font-style: italic;
  grid-column: 1;
}

.article-card .date {
  grid-column: 2;
}
