.logo.northcoders.header {
  height: 100px;
}

.logo.northcoders.header:hover {
  filter: drop-shadow(0 0 2em #fb6161aa);
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
}

.header-title {
  font-size: 50px;
}

/* Check... */
.active-user {
  list-style: none;
  border-radius: 8px;
  border: solid 1px black;
  padding: 0.5em 1em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 120px;
  display: inline-block;
}

.active-user:hover {
  border-color: #eb1c24;
  filter: drop-shadow(0 0 2em #fb6161aa);
}

.active-user:focus,
.active-user:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.username {
  color: #eb1c24;
  padding: 5px;
}

.username:hover {
  color: #e5494e;
}

.avatar {
  height: 60px;
  width: auto;
  border-radius: 10px;
  background-color: white;
  border: solid 2px #eb1c24;
}
